DJANGO_SECRET_KEY = 'django-insecure-1312312312312323112312312312'

ALLOWED_HOSTS = 'yourdomain.com,www.yourdomain.com,123.123.123.123'

DEFAULT_FROM_EMAIL = "noreply@yourdomain.com"
MAILERSEND_HOST = 'smtp.default.net'
MAILERSEND_USER = 'user'
MAILERSEND_KEY = 'pass or apikey'