{% extends 'layout/basic.html' %}
{% load django_bootstrap5 %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h2 class="mb-3">Последние объявления</h2>

<form class="row mb-3">
    <div class="col-md-10">
        {% bootstrap_field form.keyword show_label=False placeholder="Найти..." %}
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Искать</button>
    </div>
</form>

{% include 'includes/_bbs_list.html' %}

{% if keyword %}
    {% bootstrap_pagination page url="?keyword="|add:keyword %}
{% else %}
    {% bootstrap_pagination page %}
{% endif %}
{% endblock %}
