{% extends 'layout/basic.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
<h2>Настройки профиля</h2>

<div class="card p-3 m-3">
    <p><strong>Логин:</strong> {{ user.username }}</p>
    <p><strong>Почта:</strong> {{ user.email }}</p>
    <p><strong>Имя:</strong> {{ user.first_name }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
</div>

<div class="card m-3">
    <div class="card-body text-center">
        <p><a href="{% url 'main:profile_bb_add' %}">Добавить объявление</a></p>
    </div>
</div>

<div class="card m-3">
    <div class="card-body text-center">
        <div class="d-flex justify-content-center gap-2">
            <form action="{% url 'main:profile_edit' %}">
                <button type="submit" class="btn btn-primary">Изменить профиль</button>
            </form>
            <form action="{% url 'main:password_edit' %}">
                <button type="submit" class="btn btn-primary">Сменить пароль</button>
            </form>
        </div>
    </div>
</div>

<div class="card m-3">
    <div class="card-body text-center">
        <div class="d-flex justify-content-center gap-2">
            <form method="post" action="{% url 'main:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
            <form method="get" action="{% url 'main:profile_delete' %}">
                <button type="submit" class="btn btn-danger">Удалить аккаунт</button>
            </form>
        </div>
    </div>
</div>


{% endblock %} 