{% extends 'layout/basic.html' %}
{% load static %}
{% load django_bootstrap5 static %}

{% block title %}Редактирование объявления{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Редактирование объявления</h2>
  {% bootstrap_messages %}
  {% include 'main/_bb_form.html' with button_text="Сохранить изменения" %}
</div>

{% block submit_button %}
{% bootstrap_button 'Сохранить изменения' button_type='submit' button_class='btn-success' %}
{% endblock %}
{% endblock %}
